@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

/* Verse */
[epub|type~="z3998:verse"]{
	margin-left: 2em;
}

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 2em;
	text-indent: -2em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:verse"] p > span.i1{
	padding-left: 8em;
}

/* Dedication page */
section[epub|type~="dedication"]{
	margin: auto;
	margin-top: 20vh;
	max-width: 50em;
}

section[epub|type~="dedication"] > p{
	font-variant: small-caps;
	text-align: center;
}

section[epub|type~="dedication"] > p b{
	font-size: larger;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(50vh - 3em);
		padding-top: 3em;
	}
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
	margin-bottom: 1em;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
